/* imported fonts */
@font-face {
    font-family: "Siemens Sans";
    src: url("../fonts/SiemensSans-Bold.woff2") format("woff2"),
        url("../fonts/SiemensSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Siemens Sans";
    src: url("../fonts/SiemensSans-BoldItalic.woff2") format("woff2"),
        url("../fonts/SiemensSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Siemens Sans";
    src: url("../fonts/SiemensSans-Italic.woff2") format("woff2"),
        url("../fonts/SiemensSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Siemens Sans";
    src: url("../fonts/SiemensSans-Roman.woff2") format("woff2"),
        url("../fonts/SiemensSans-Roman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Siemens Sans";
}

#bgImg {
    position: absolute;
    width: 100%;
    height: 900px;
    left: calc(50% - 1440px / 2);
    top: 0px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

#banner {
    /* background-image: url(../img/img.jpg); */
    background-size: cover;
}

#bar {
    align-items: center;
}

#titleBrand {
    /* position: absolute;
    width: 599px;
    height: 47px;
    left: 121px;
    top: 133px; */

    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;

    color: #ffffff;
}

#titleMain {
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 120.01%;

    /* or 70px */

    color: #ffffff;
}

#titleSummary {
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 123.51%;

    /* or 28px */

    color: #ffffff;
}

#textBanner {
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 123.51%;

    /* or 32px */

    color: #ffffff;
}

.speaker {
    background: #f3f3f0;
    width: 100%;
    margin-top: -20px;
    padding: 93px 0px;
}

#speakerTitle {
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #000028;
}

#speakerName {
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 123.51%;

    /* or 32px */
    text-align: center;

    color: #000028;
}

#speakerRole {
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 123.51%;

    /* or 16px */
    text-align: center;

    color: #009999;
}

.form {
    background: #000028;
}

#registerTitle {
    font-family: Siemens Sans Black;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 107.01%;

    /* or 51px */

    color: #ffffff;
}

#inputBox {
    background: #002039;
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18.42px;
    line-height: 123.51%;

    /* or 23px */

    color: #ffffff;
}

#country {
    background: #002039;
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18.42px;
    line-height: 123.51%;

    /* or 23px */

    color: #ffffff;
}

#labelNotes {
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 15.5898px;
    line-height: 123.51%;

    /* or 19px */

    color: #ffffff;
}

#infoCheck {
    font-family: "Siemens Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 15.5898px;
    line-height: 123.51%;

    /* or 19px */

    color: #ffffff;
}

#btnSubmit {
    width: 100%;
    max-width: fit-content;
    background-image: url("../img/btn-submit.png");
}

#imgDesign {
    width: 700px;
    overflow: hidden;
}

.newform {
    background: #000028;
    width: 100%;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.marginformtop {
    margin-top: 120px;
}

.marginformtop h2 {
    color: #fff;
    margin-bottom: 30px;
    padding-left: 20px;
}

.newform .bgform {
    position: absolute;
    right: -380px;
}

.sub-speaker {
    text-align: center;
}

.sub-speaker h2 {
    font-weight: 900;
    font-size: 38px;
    margin-bottom: 42px;
}

.header {
    background: url(../../assets/img/img1.jpg);
    margin-bottom: -48px;
    padding-bottom: 200px;
    margin-top: -51px;
}

@media (max-width: 414px) {
    #picDate,
    #clock {
        width: 21px;
        margin-left: -12px;
        margin-bottom: 9px;
    }

    #bgImg {
        width: auto;
        height: 1135px;
    }

    #titleSummary {
        font-size: 15px;
    }

    #textBanner {
        font-size: 15px;
    }

    #titleMain {
        font-size: 39px;
    }
}

.modal-body {
    background: #000028;
    /* border-radius: 7px; */
}

#modalImg {
    width: auto;
}

#modalTitle {
    font-family: Siemens Sans Black;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 107.01%;

    /* or 51px */
    text-align: center;

    color: #ffffff;
}

#modalText {
    font-family: Siemens Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 117.51%;

    /* or 36px */
    text-align: center;

    color: #ffffff;
}

#modalBtn {
    width: 100%;
    align-items: center;
    background-size: contain;
}
